/*Police*/

@font-face {
   font-family: Roboto-Regular;
   src: url(Police/Roboto-Regular.ttf);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: Roboto-Medium;
   src: url(Police/Roboto-Medium.ttf);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: Roboto-BoldCondensed;
   src: url(Police/Roboto-BoldCondensed.ttf);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: Roboto-Condensed;
   src: url(Police/Roboto-Condensed.ttf);
   font-weight: normal;
   font-style: normal;
}

* {
   box-sizing: border-box;
}



/*Positionement de la page Web*/

.bloc_page {
   width: 60%;
   margin: 0 auto;
}


body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100vh;
}

/*Ajout et positionnement de l'image de fond*/

.background {
   width: 100%;
   height: 100%;
   background-image: url(image/Bronx.webp);
   background-size: cover;
   background-position: right;
}

/*Page d'acceuil*/

#page_acceuil {
   width: 60%;
   margin: 0 auto;
   color: white;
}

#page_acceuil img {
   width: 154px;
   height: 152px;
   margin-left: -25px;
}

li {
   list-style-type: none;
}

#nav {
   display: flex;
   align-items: center;
}

#nav_bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

ul {
   display: flex;
}

nav a {
   color: white;
   text-decoration: none;
   padding-right: 20px;
}

nav a,
p,
.FirstName,
.LastName,
.PhoneNumber,
.Email,
.Message,
.copyrigth {
   font-family: "Roboto-Regular", sans-serif;
   font-size: 1.5em;
}

#fit {
   margin-top: 200px;

}



.fitgher {
   font-family: 'Arbutus', cursive;
   text-transform: uppercase;
   font-size: 4em;
}

.red {
   color: #FF4901;
}

.empower {
   font-size: 1.2em;
}

/*Button*/


button {
   background-color: #FF4901;
   color: white;
   font-family: "Roboto-BoldCondensed", sans-serif;
   font-size: 1.5em;
   text-transform: uppercase;
   display: block;
   padding: 20px 40px;
   border: none;
}

.GetStarted_btn {
   margin-top: 200px;
}

.Read_btn {
   padding: 10px 20px;
   font-size: 1em;
   position: relative;
   left: 30px;
   bottom: 20px;
}

.check_btn {
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   margin-bottom: 50px;
}

.schedule_btn {
   margin-top: 80px;
}


.Register_btn,
.Read_btn {
   text-transform: unset;
}

.classes_btn {
   margin-top: 100px;
}

.submit_btn {
   margin-top: 50px;
   margin-bottom: 30px;
}


/*Mise en page: Element principaux*/

h1,
h3 {
   font-family: Roboto-BoldCondensed;
}

h1 {
   font-size: 3em;
}

h3 {
   font-size: 1.5em;
   margin-bottom: 0;
}

.grid_container {
   display: grid;
   justify-content: space-evenly;
   align-content: space-between;
   column-gap: 50px;
   grid-template-columns: auto auto;
}

.grid_container>div>img {
   width: 568px;
   height: 437px
}

.body {
   width: 568px;
   height: 437px;
}

.press {
   width: 568px;
   height: 437px;
}

.air_yoga {
   width: 568px;
   height: 437px;
}

.section_about {
   background-color: black;
   width: 100%;
}

.workout {
   background-image: url(image/bodybuilder.jpeg);
   background-position: center;
   background-size: cover;
   width: 50%;
   height: 50vh;
}

.about {
   width: 100%;
   color: white;
   display: flex;
   justify-content: space-between;
}

#workout {
   width: 40%;
   margin: auto;
}

.girl {
   background-image: url(image/Fitness\ Girl.jpg);
   background-position: center;
   background-size: cover;
   width: 50%;
   height: 50vh;
}

.section_classes {
   background-color: #151313;
   width: 100%;
}


.classes {
   width: 100%;
   color: white;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
}

#class {
   width: 40%;
   margin: auto;
}



#class h1 {
   margin-top: 0;
}

.testimonies {
   width: 60%;
   margin: 0 auto;
}

.block {
   display: flex;
   align-items: center;
}

.change {
   background-color: black;
   color: white;
}

.change div {
   width: 60%;
   margin: 0 auto;
   padding-top: 10px;
   padding-bottom: 40px;
}

/*footer*/

.section_contact {
   background-color: black;
   color: white;
}

#contact {
   width: 60%;
   margin: 0 auto;
   display: block;
   display: flex;
   justify-content: space-between;
}

/*Formulaire*/


input {
   background-color: unset;
   color: white;
   border: none;
}

.FirstName {
   padding-bottom: 8px;
   border-bottom: 2px solid white;
}

.LastName {
   margin-left: 50px;
   padding-bottom: 8px;
   border-bottom: 2px solid white;
}

.name {
   display: flex;
}

.num {
   display: flex;
   margin-top: 50px;
}

.Email {
   padding-bottom: 8px;
   border-bottom: 2px solid white;
}

.PhoneNumber {
   margin-left: 50px;
   padding-bottom: 8px;
   border-bottom: 2px solid white;
}

.Message {
   margin-top: 50px;
   padding-right: 35px;
   padding-bottom: 80px;
   border-bottom: 2px solid white;
}

.fa h4,
.fa-brands fa-facebook-square {
   display: inline;
}

.fa {
   margin-top: 5px;
}

.fa-brands fa-instagram-square,
.instagram h4 {
   display: inline;
}

.fa-brands fa-twitter,
.twitter h4 {
   display: inline;
}

h4 {
   font-family: "Roboto-Medium", sans-serif;
}

.fa,
.instagram,
.twitter {
   line-height: 3em;
}

.instagram img {
   width: 40px;
   height: 40px;
   vertical-align: middle;
}

.sponsor {
   width: 60%;
   margin: 0 auto;
}

.mma {
   width: auto;
   height: 100px;
}

.yoga {
   width: auto;
   height: 100px;
}

.wba {
   width: auto;
   height: 100px;
}

.wbc {
   height: 100px;
}

.image {
   width: 100%;
   margin-bottom: 30px;
   display: flex;
   justify-content: space-evenly;
}

.copy {
   background-color: black;
   color: white;
}

.copyrigth {
   width: 500px;
   margin-right: auto;
   margin-left: auto;
}

.about img {
   width: 800px;
   height: 600px;
}

.classes img {
   width: 900px;
   height: 600px;
}

/*MediaQueries*/

@media all and (max-width:1602px) {
   #page_acceuil {
      width: 80%;
      margin: 0 auto;
   }

   .bloc_page {
      width: 80%;
      margin: 0 auto;
   }

   .testimonies {
      width: 80%;
      margin: 0 auto;
   }

   .change div {
      width: 80%;
      margin: 0 auto;
   }

   #contact {
      width: 80%;
      margin: 0 auto;
   }

   .sponsor {
      width: 80%;
      margin: 0 auto;
   }

   #contact {
      width: 80%;
      margin: 0 auto;
   }
}

@media all and (max-width:1500px) {
   #page_acceuil {
      width: 90%;
      margin: 0 auto;
   }

   .bloc_page {
      width: 90%;
      margin: 0 auto;
   }

   .testimonies {
      width: 90%;
      margin: 0 auto;
   }

   .change div {
      width: 90%;
      margin: 0 auto;
   }

   #contact {
      width: 90%;
      margin: 0 auto;
   }

   .sponsor {
      width: 90%;
      margin: 0 auto;
   }

   #contact {
      width: 90%;
      margin: 0 auto;
   }

   .grid_container>div>img {
      width: 468px;
      height: 337px
   }

   .body {
      width: 468px;
      height: 337px;
   }

   .press {
      width: 468px;
      height: 337px;
   }

   .air_yoga {
      width: 468px;
      height: 337px;
   }

   .about img {
      width: 700px;
      height: 500px;
   }

   .classes img {
      width: 800px;
      height: 500px;
   }

}

@media all and (max-width:1230px) {
   background {
      width: 100%;
      height: 50vh;
      background-image: url(image/Bronx.webp);
      background-size: cover;
      background-position: right;
   }


   .schedule_btn {
      margin-top: 10px;
   }

   .classes_btn {
      margin-top: 10px;
      margin-bottom: 20px;
   }

   h1 {
      font-size: 2em;
   }

   p {
      font-size: 1em
   }

   .about img {
      width: 600px;
      height: 400px;
   }

   .classes img {
      width: 500px;
      height: 400px;

   }

   button {
      font-family: "Roboto-BoldCondensed", sans-serif;
      font-size: 1em;
      text-transform: uppercase;
      display: block;
      padding: 10px 20px;
      border: none;
   }

   nav a {
      font-size: 1em;
   }

   #class {
      margin-top: 50px;
      width: 50%;
      margin-right: auto;
   }

   .about img {
      width: 500px;
      height: 300px;
   }

   .classes img {
      width: 500px;
      height: 300px;
   }

   .fitgher {
      font-size: 3em;
   }

   .GetStarted_btn {
      margin-top: 100px;
   }
}

@media all and (max-width:1002px) {

   .grid_container {
      width: 100%;
      display: inline-grid;
      grid-template-columns: auto;
   }

   .about img {
      width: 400px;
      height: 300px;
   }

   .classes img {
      width: 400px;
      height: 300px;
   }

}

@media all and (max-width:980px) {

   .image {
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }

}

@media all and (max-width:792px) {
   #nav img {
      width: 80px;
      height: 80px;
      padding: 0;
   }
   #Register_btn{
      display: none;
   }

   #contact {
      flex-wrap: wrap;
   }
}

@media all and (max-width:634px) {
   
   input{
      display: block;
   }
   .FirstName {
      padding-bottom: 8px;
      border-bottom: 2px solid white;
      margin-bottom: 30px;
   }

   .LastName {
      padding-bottom: 8px;
      margin-left: 0px;
      border-bottom: 2px solid white;
   }

   .name {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;
   }

   .num {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;
      margin: 0;
      padding: 0;
   }

   .Email {
      margin-bottom: 30px;
      padding-bottom: 8px;
      border-bottom: 2px solid white;
   }

   .PhoneNumber {
      margin-left: 0;
      padding-bottom: 8px;
      border-bottom: 2px solid white;
   }

   .Message {
      margin-top: 50px;
      padding-right: 35px;
      padding-bottom: 80px;
      border-bottom: 2px solid white;
   }

}

@media all and (max-width:572px){
   nav a{
     font-size: 0.7em;
     padding-right: 5px;
   }
   #fit{
      margin-top: 0;
      font-size: 0.8em;
   }
   .grid_container {
      display: none;
   }
   .about img {
      width: 100px;
      height: 300px;
   }

   .classes img {
      width: 100px;
      height: 300px;
   }
   .yoga {
      width: 80%;
      height: 100px;
   }
}
